{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "arrowFunctions": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ],
  "env": {
    "browser": true,
    "node": true,
    "worker": true,
    "amd": true,
    "mocha": true,
    "jasmine": true,
    "phantomjs": true,
    "jquery": true,
    "prototypejs": true,
    "shelljs": true,
    "meteor": true,
    "mongo": true,
    "applescript": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "vue/html-indent": ["error", 2],
    "semi": [
      "error",
      "never",
      {
        "beforeStatementContinuationChars": "never"
      }
    ],
    "semi-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "semi-style": ["error", "first"],
    "no-extra-semi": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-console": "off",
    "vue/max-attributes-per-line": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false
      }
    ],
    "arrow-spacing": "error",
    "no-var": "error",
    "prefer-const": "error",
    "array-bracket-newline": [
      "error",
      {
        "minItems": 2
      }
    ],
    "array-bracket-spacing": ["error", "never"],
    "brace-style": "error"
  }
}
