%h1 Welcome
.row
  .divider
  %div.section= vue 'MaterialButton', text: '<i class="icon fab fa google left"></i>Google', addClass: 'sns-bgcolor google btn', href: 'https://google.com'
  .divider
  %div.section= vue 'MaterialButton', text: '<i class="icon fab fa facebook left"></i>Facebook', addClass: 'sns-bgcolor facebook btn', href: 'https://facebook.com'
  .divider
  %div.section= vue 'MaterialButton', text: '<i class="icon fab fa twitter left"></i>Twitter', addClass: 'sns-bgcolor twitter btn', href: 'https://twitter.com'
  .divider
  %div.section= vue 'MaterialButton', text: '<i class="icon fab fa line left"></i>Line', addClass: 'sns-bgcolor line btn', href: 'https://line.me'
