@font-face {
  font-family: 'typicons';
  src: url('../../fonts/typicons.eot');
  src: url('../../fonts/typicons.eot?#iefix') format('embedded-opentype'), url('../../fonts/typicons.woff') format('woff'), url('../../fonts/typicons.ttf') format('truetype'), url('../../fonts/typicons.svg#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
  -moz-font-feature-settings: "calt=0,liga=0";
}

.icon.tp {
  font-family: 'typicons';

  &.adjust-brightness:before {
    content: '\e000'; /* '' */
  }

  &.adjust-contrast:before {
    content: '\e001'; /* '' */
  }

  &.anchor-outline:before {
    content: '\e002'; /* '' */
  }

  &.anchor:before {
    content: '\e003'; /* '' */
  }

  &.archive:before {
    content: '\e004'; /* '' */
  }

  &.arrow-back-outline:before {
    content: '\e005'; /* '' */
  }

  &.arrow-back:before {
    content: '\e006'; /* '' */
  }

  &.arrow-down-outline:before {
    content: '\e007'; /* '' */
  }

  &.arrow-down-thick:before {
    content: '\e008'; /* '' */
  }

  &.arrow-down:before {
    content: '\e009'; /* '' */
  }

  &.arrow-forward-outline:before {
    content: '\e00a'; /* '' */
  }

  &.arrow-forward:before {
    content: '\e00b'; /* '' */
  }

  &.arrow-left-outline:before {
    content: '\e00c'; /* '' */
  }

  &.arrow-left-thick:before {
    content: '\e00d'; /* '' */
  }

  &.arrow-left:before {
    content: '\e00e'; /* '' */
  }

  &.arrow-loop-outline:before {
    content: '\e00f'; /* '' */
  }

  &.arrow-loop:before {
    content: '\e010'; /* '' */
  }

  &.arrow-maximise-outline:before {
    content: '\e011'; /* '' */
  }

  &.arrow-maximise:before {
    content: '\e012'; /* '' */
  }

  &.arrow-minimise-outline:before {
    content: '\e013'; /* '' */
  }

  &.arrow-minimise:before {
    content: '\e014'; /* '' */
  }

  &.arrow-move-outline:before {
    content: '\e015'; /* '' */
  }

  &.arrow-move:before {
    content: '\e016'; /* '' */
  }

  &.arrow-repeat-outline:before {
    content: '\e017'; /* '' */
  }

  &.arrow-repeat:before {
    content: '\e018'; /* '' */
  }

  &.arrow-right-outline:before {
    content: '\e019'; /* '' */
  }

  &.arrow-right-thick:before {
    content: '\e01a'; /* '' */
  }

  &.arrow-right:before {
    content: '\e01b'; /* '' */
  }

  &.arrow-shuffle:before {
    content: '\e01c'; /* '' */
  }

  &.arrow-sorted-down:before {
    content: '\e01d'; /* '' */
  }

  &.arrow-sorted-up:before {
    content: '\e01e'; /* '' */
  }

  &.arrow-sync-outline:before {
    content: '\e01f'; /* '' */
  }

  &.arrow-sync:before {
    content: '\e020'; /* '' */
  }

  &.arrow-unsorted:before {
    content: '\e021'; /* '' */
  }

  &.arrow-up-outline:before {
    content: '\e022'; /* '' */
  }

  &.arrow-up-thick:before {
    content: '\e023'; /* '' */
  }

  &.arrow-up:before {
    content: '\e024'; /* '' */
  }

  &.at:before {
    content: '\e025'; /* '' */
  }

  &.attachment-outline:before {
    content: '\e026'; /* '' */
  }

  &.attachment:before {
    content: '\e027'; /* '' */
  }

  &.backspace-outline:before {
    content: '\e028'; /* '' */
  }

  &.backspace:before {
    content: '\e029'; /* '' */
  }

  &.battery-charge:before {
    content: '\e02a'; /* '' */
  }

  &.battery-full:before {
    content: '\e02b'; /* '' */
  }

  &.battery-high:before {
    content: '\e02c'; /* '' */
  }

  &.battery-low:before {
    content: '\e02d'; /* '' */
  }

  &.battery-mid:before {
    content: '\e02e'; /* '' */
  }

  &.beaker:before {
    content: '\e02f'; /* '' */
  }

  &.beer:before {
    content: '\e030'; /* '' */
  }

  &.bell:before {
    content: '\e031'; /* '' */
  }

  &.book:before {
    content: '\e032'; /* '' */
  }

  &.bookmark:before {
    content: '\e033'; /* '' */
  }

  &.briefcase:before {
    content: '\e034'; /* '' */
  }

  &.brush:before {
    content: '\e035'; /* '' */
  }

  &.business-card:before {
    content: '\e036'; /* '' */
  }

  &.calculator:before {
    content: '\e037'; /* '' */
  }

  &.calendar-outline:before {
    content: '\e038'; /* '' */
  }

  &.calendar:before {
    content: '\e039'; /* '' */
  }

  &.camera-outline:before {
    content: '\e03a'; /* '' */
  }

  &.camera:before {
    content: '\e03b'; /* '' */
  }

  &.cancel-outline:before {
    content: '\e03c'; /* '' */
  }

  &.cancel:before {
    content: '\e03d'; /* '' */
  }

  &.chart-area-outline:before {
    content: '\e03e'; /* '' */
  }

  &.chart-area:before {
    content: '\e03f'; /* '' */
  }

  &.chart-bar-outline:before {
    content: '\e040'; /* '' */
  }

  &.chart-bar:before {
    content: '\e041'; /* '' */
  }

  &.chart-line-outline:before {
    content: '\e042'; /* '' */
  }

  &.chart-line:before {
    content: '\e043'; /* '' */
  }

  &.chart-pie-outline:before {
    content: '\e044'; /* '' */
  }

  &.chart-pie:before {
    content: '\e045'; /* '' */
  }

  &.chevron-left-outline:before {
    content: '\e046'; /* '' */
  }

  &.chevron-left:before {
    content: '\e047'; /* '' */
  }

  &.chevron-right-outline:before {
    content: '\e048'; /* '' */
  }

  &.chevron-right:before {
    content: '\e049'; /* '' */
  }

  &.clipboard:before {
    content: '\e04a'; /* '' */
  }

  &.cloud-storage:before {
    content: '\e04b'; /* '' */
  }

  &.cloud-storage-outline:before {
    content: '\e054'; /* '' */
  }

  &.code-outline:before {
    content: '\e04c'; /* '' */
  }

  &.code:before {
    content: '\e04d'; /* '' */
  }

  &.coffee:before {
    content: '\e04e'; /* '' */
  }

  &.cog-outline:before {
    content: '\e04f'; /* '' */
  }

  &.cog:before {
    content: '\e050'; /* '' */
  }

  &.compass:before {
    content: '\e051'; /* '' */
  }

  &.contacts:before {
    content: '\e052'; /* '' */
  }

  &.credit-card:before {
    content: '\e053'; /* '' */
  }

  &.css3:before {
    content: '\e055'; /* '' */
  }

  &.database:before {
    content: '\e056'; /* '' */
  }

  &.delete-outline:before {
    content: '\e057'; /* '' */
  }

  &.delete:before {
    content: '\e058'; /* '' */
  }

  &.device-desktop:before {
    content: '\e059'; /* '' */
  }

  &.device-laptop:before {
    content: '\e05a'; /* '' */
  }

  &.device-phone:before {
    content: '\e05b'; /* '' */
  }

  &.device-tablet:before {
    content: '\e05c'; /* '' */
  }

  &.directions:before {
    content: '\e05d'; /* '' */
  }

  &.divide-outline:before {
    content: '\e05e'; /* '' */
  }

  &.divide:before {
    content: '\e05f'; /* '' */
  }

  &.document-add:before {
    content: '\e060'; /* '' */
  }

  &.document-delete:before {
    content: '\e061'; /* '' */
  }

  &.document-text:before {
    content: '\e062'; /* '' */
  }

  &.document:before {
    content: '\e063'; /* '' */
  }

  &.download-outline:before {
    content: '\e064'; /* '' */
  }

  &.download:before {
    content: '\e065'; /* '' */
  }

  &.dropbox:before {
    content: '\e066'; /* '' */
  }

  &.edit:before {
    content: '\e067'; /* '' */
  }

  &.eject-outline:before {
    content: '\e068'; /* '' */
  }

  &.eject:before {
    content: '\e069'; /* '' */
  }

  &.equals-outline:before {
    content: '\e06a'; /* '' */
  }

  &.equals:before {
    content: '\e06b'; /* '' */
  }

  &.export-outline:before {
    content: '\e06c'; /* '' */
  }

  &.export:before {
    content: '\e06d'; /* '' */
  }

  &.eye-outline:before {
    content: '\e06e'; /* '' */
  }

  &.eye:before {
    content: '\e06f'; /* '' */
  }

  &.feather:before {
    content: '\e070'; /* '' */
  }

  &.film:before {
    content: '\e071'; /* '' */
  }

  &.filter:before {
    content: '\e072'; /* '' */
  }

  &.flag-outline:before {
    content: '\e073'; /* '' */
  }

  &.flag:before {
    content: '\e074'; /* '' */
  }

  &.flash-outline:before {
    content: '\e075'; /* '' */
  }

  &.flash:before {
    content: '\e076'; /* '' */
  }

  &.flow-children:before {
    content: '\e077'; /* '' */
  }

  &.flow-merge:before {
    content: '\e078'; /* '' */
  }

  &.flow-parallel:before {
    content: '\e079'; /* '' */
  }

  &.flow-switch:before {
    content: '\e07a'; /* '' */
  }

  &.folder-add:before {
    content: '\e07b'; /* '' */
  }

  &.folder-delete:before {
    content: '\e07c'; /* '' */
  }

  &.folder-open:before {
    content: '\e07d'; /* '' */
  }

  &.folder:before {
    content: '\e07e'; /* '' */
  }

  &.gift:before {
    content: '\e07f'; /* '' */
  }

  &.globe-outline:before {
    content: '\e080'; /* '' */
  }

  &.globe:before {
    content: '\e081'; /* '' */
  }

  &.group-outline:before {
    content: '\e082'; /* '' */
  }

  &.group:before {
    content: '\e083'; /* '' */
  }

  &.headphones:before {
    content: '\e084'; /* '' */
  }

  &.heart-full-outline:before {
    content: '\e085'; /* '' */
  }

  &.heart-half-outline:before {
    content: '\e086'; /* '' */
  }

  &.heart-outline:before {
    content: '\e087'; /* '' */
  }

  &.heart:before {
    content: '\e088'; /* '' */
  }

  &.home-outline:before {
    content: '\e089'; /* '' */
  }

  &.home:before {
    content: '\e08a'; /* '' */
  }

  &.html5:before {
    content: '\e08b'; /* '' */
  }

  &.image-outline:before {
    content: '\e08c'; /* '' */
  }

  &.image:before {
    content: '\e08d'; /* '' */
  }

  &.infinity-outline:before {
    content: '\e08e'; /* '' */
  }

  &.infinity:before {
    content: '\e08f'; /* '' */
  }

  &.info-large-outline:before {
    content: '\e090'; /* '' */
  }

  &.info-large:before {
    content: '\e091'; /* '' */
  }

  &.info-outline:before {
    content: '\e092'; /* '' */
  }

  &.info:before {
    content: '\e093'; /* '' */
  }

  &.input-checked-outline:before {
    content: '\e094'; /* '' */
  }

  &.input-checked:before {
    content: '\e095'; /* '' */
  }

  &.key-outline:before {
    content: '\e096'; /* '' */
  }

  &.key:before {
    content: '\e097'; /* '' */
  }

  &.keyboard:before {
    content: '\e098'; /* '' */
  }

  &.leaf:before {
    content: '\e099'; /* '' */
  }

  &.lightbulb:before {
    content: '\e09a'; /* '' */
  }

  &.link-outline:before {
    content: '\e09b'; /* '' */
  }

  &.link:before {
    content: '\e09c'; /* '' */
  }

  &.location-arrow-outline:before {
    content: '\e09d'; /* '' */
  }

  &.location-arrow:before {
    content: '\e09e'; /* '' */
  }

  &.location-outline:before {
    content: '\e09f'; /* '' */
  }

  &.location:before {
    content: '\e0a0'; /* '' */
  }

  &.lock-closed-outline:before {
    content: '\e0a1'; /* '' */
  }

  &.lock-closed:before {
    content: '\e0a2'; /* '' */
  }

  &.lock-open-outline:before {
    content: '\e0a3'; /* '' */
  }

  &.lock-open:before {
    content: '\e0a4'; /* '' */
  }

  &.mail:before {
    content: '\e0a5'; /* '' */
  }

  &.map:before {
    content: '\e0a6'; /* '' */
  }

  &.media-eject-outline:before {
    content: '\e0a7'; /* '' */
  }

  &.media-eject:before {
    content: '\e0a8'; /* '' */
  }

  &.media-fast-forward-outline:before {
    content: '\e0a9'; /* '' */
  }

  &.media-fast-forward:before {
    content: '\e0aa'; /* '' */
  }

  &.media-pause-outline:before {
    content: '\e0ab'; /* '' */
  }

  &.media-pause:before {
    content: '\e0ac'; /* '' */
  }

  &.media-play-outline:before {
    content: '\e0ad'; /* '' */
  }

  &.media-play-reverse-outline:before {
    content: '\e0ae'; /* '' */
  }

  &.media-play-reverse:before {
    content: '\e0af'; /* '' */
  }

  &.media-play:before {
    content: '\e0b0'; /* '' */
  }

  &.media-record-outline:before {
    content: '\e0b1'; /* '' */
  }

  &.media-record:before {
    content: '\e0b2'; /* '' */
  }

  &.media-rewind-outline:before {
    content: '\e0b3'; /* '' */
  }

  &.media-rewind:before {
    content: '\e0b4'; /* '' */
  }

  &.media-stop-outline:before {
    content: '\e0b5'; /* '' */
  }

  &.media-stop:before {
    content: '\e0b6'; /* '' */
  }

  &.message-typing:before {
    content: '\e0b7'; /* '' */
  }

  &.message:before {
    content: '\e0b8'; /* '' */
  }

  &.messages:before {
    content: '\e0b9'; /* '' */
  }

  &.microphone-outline:before {
    content: '\e0ba'; /* '' */
  }

  &.microphone:before {
    content: '\e0bb'; /* '' */
  }

  &.minus-outline:before {
    content: '\e0bc'; /* '' */
  }

  &.minus:before {
    content: '\e0bd'; /* '' */
  }

  &.mortar-board:before {
    content: '\e0be'; /* '' */
  }

  &.news:before {
    content: '\e0bf'; /* '' */
  }

  &.notes-outline:before {
    content: '\e0c0'; /* '' */
  }

  &.notes:before {
    content: '\e0c1'; /* '' */
  }

  &.pen:before {
    content: '\e0c2'; /* '' */
  }

  &.pencil:before {
    content: '\e0c3'; /* '' */
  }

  &.phone-outline:before {
    content: '\e0c4'; /* '' */
  }

  &.phone:before {
    content: '\e0c5'; /* '' */
  }

  &.pi-outline:before {
    content: '\e0c6'; /* '' */
  }

  &.pi:before {
    content: '\e0c7'; /* '' */
  }

  &.pin-outline:before {
    content: '\e0c8'; /* '' */
  }

  &.pin:before {
    content: '\e0c9'; /* '' */
  }

  &.pipette:before {
    content: '\e0ca'; /* '' */
  }

  &.plane-outline:before {
    content: '\e0cb'; /* '' */
  }

  &.plane:before {
    content: '\e0cc'; /* '' */
  }

  &.plug:before {
    content: '\e0cd'; /* '' */
  }

  &.plus-outline:before {
    content: '\e0ce'; /* '' */
  }

  &.plus:before {
    content: '\e0cf'; /* '' */
  }

  &.point-of-interest-outline:before {
    content: '\e0d0'; /* '' */
  }

  &.point-of-interest:before {
    content: '\e0d1'; /* '' */
  }

  &.power-outline:before {
    content: '\e0d2'; /* '' */
  }

  &.power:before {
    content: '\e0d3'; /* '' */
  }

  &.printer:before {
    content: '\e0d4'; /* '' */
  }

  &.puzzle-outline:before {
    content: '\e0d5'; /* '' */
  }

  &.puzzle:before {
    content: '\e0d6'; /* '' */
  }

  &.radar-outline:before {
    content: '\e0d7'; /* '' */
  }

  &.radar:before {
    content: '\e0d8'; /* '' */
  }

  &.refresh-outline:before {
    content: '\e0d9'; /* '' */
  }

  &.refresh:before {
    content: '\e0da'; /* '' */
  }

  &.rss-outline:before {
    content: '\e0db'; /* '' */
  }

  &.rss:before {
    content: '\e0dc'; /* '' */
  }

  &.scissors-outline:before {
    content: '\e0dd'; /* '' */
  }

  &.scissors:before {
    content: '\e0de'; /* '' */
  }

  &.shopping-bag:before {
    content: '\e0df'; /* '' */
  }

  &.shopping-cart:before {
    content: '\e0e0'; /* '' */
  }

  &.social-at-circular:before {
    content: '\e0e1'; /* '' */
  }

  &.social-dribbble-circular:before {
    content: '\e0e2'; /* '' */
  }

  &.social-dribbble:before {
    content: '\e0e3'; /* '' */
  }

  &.social-facebook-circular:before {
    content: '\e0e4'; /* '' */
  }

  &.social-facebook:before {
    content: '\e0e5'; /* '' */
  }

  &.social-flickr-circular:before {
    content: '\e0e6'; /* '' */
  }

  &.social-flickr:before {
    content: '\e0e7'; /* '' */
  }

  &.social-github-circular:before {
    content: '\e0e8'; /* '' */
  }

  &.social-github:before {
    content: '\e0e9'; /* '' */
  }

  &.social-google-plus-circular:before {
    content: '\e0ea'; /* '' */
  }

  &.social-google-plus:before {
    content: '\e0eb'; /* '' */
  }

  &.social-instagram-circular:before {
    content: '\e0ec'; /* '' */
  }

  &.social-instagram:before {
    content: '\e0ed'; /* '' */
  }

  &.social-last-fm-circular:before {
    content: '\e0ee'; /* '' */
  }

  &.social-last-fm:before {
    content: '\e0ef'; /* '' */
  }

  &.social-linkedin-circular:before {
    content: '\e0f0'; /* '' */
  }

  &.social-linkedin:before {
    content: '\e0f1'; /* '' */
  }

  &.social-pinterest-circular:before {
    content: '\e0f2'; /* '' */
  }

  &.social-pinterest:before {
    content: '\e0f3'; /* '' */
  }

  &.social-skype-outline:before {
    content: '\e0f4'; /* '' */
  }

  &.social-skype:before {
    content: '\e0f5'; /* '' */
  }

  &.social-tumbler-circular:before {
    content: '\e0f6'; /* '' */
  }

  &.social-tumbler:before {
    content: '\e0f7'; /* '' */
  }

  &.social-twitter-circular:before {
    content: '\e0f8'; /* '' */
  }

  &.social-twitter:before {
    content: '\e0f9'; /* '' */
  }

  &.social-vimeo-circular:before {
    content: '\e0fa'; /* '' */
  }

  &.social-vimeo:before {
    content: '\e0fb'; /* '' */
  }

  &.social-youtube-circular:before {
    content: '\e0fc'; /* '' */
  }

  &.social-youtube:before {
    content: '\e0fd'; /* '' */
  }

  &.sort-alphabetically-outline:before {
    content: '\e0fe'; /* '' */
  }

  &.sort-alphabetically:before {
    content: '\e0ff'; /* '' */
  }

  &.sort-numerically-outline:before {
    content: '\e100'; /* '' */
  }

  &.sort-numerically:before {
    content: '\e101'; /* '' */
  }

  &.spanner-outline:before {
    content: '\e102'; /* '' */
  }

  &.spanner:before {
    content: '\e103'; /* '' */
  }

  &.spiral:before {
    content: '\e104'; /* '' */
  }

  &.star-full-outline:before {
    content: '\e105'; /* '' */
  }

  &.star-half-outline:before {
    content: '\e106'; /* '' */
  }

  &.star-half:before {
    content: '\e107'; /* '' */
  }

  &.star-outline:before {
    content: '\e108'; /* '' */
  }

  &.star:before {
    content: '\e109'; /* '' */
  }

  &.starburst-outline:before {
    content: '\e10a'; /* '' */
  }

  &.starburst:before {
    content: '\e10b'; /* '' */
  }

  &.stopwatch:before {
    content: '\e10c'; /* '' */
  }

  &.support:before {
    content: '\e10d'; /* '' */
  }

  &.tabs-outline:before {
    content: '\e10e'; /* '' */
  }

  &.tag:before {
    content: '\e10f'; /* '' */
  }

  &.tags:before {
    content: '\e110'; /* '' */
  }

  &.th-large-outline:before {
    content: '\e111'; /* '' */
  }

  &.th-large:before {
    content: '\e112'; /* '' */
  }

  &.th-list-outline:before {
    content: '\e113'; /* '' */
  }

  &.th-list:before {
    content: '\e114'; /* '' */
  }

  &.th-menu-outline:before {
    content: '\e115'; /* '' */
  }

  &.th-menu:before {
    content: '\e116'; /* '' */
  }

  &.th-small-outline:before {
    content: '\e117'; /* '' */
  }

  &.th-small:before {
    content: '\e118'; /* '' */
  }

  &.thermometer:before {
    content: '\e119'; /* '' */
  }

  &.thumbs-down:before {
    content: '\e11a'; /* '' */
  }

  &.thumbs-ok:before {
    content: '\e11b'; /* '' */
  }

  &.thumbs-up:before {
    content: '\e11c'; /* '' */
  }

  &.tick-outline:before {
    content: '\e11d'; /* '' */
  }

  &.tick:before {
    content: '\e11e'; /* '' */
  }

  &.ticket:before {
    content: '\e11f'; /* '' */
  }

  &.time:before {
    content: '\e120'; /* '' */
  }

  &.times-outline:before {
    content: '\e121'; /* '' */
  }

  &.times:before {
    content: '\e122'; /* '' */
  }

  &.trash:before {
    content: '\e123'; /* '' */
  }

  &.tree:before {
    content: '\e124'; /* '' */
  }

  &.upload-outline:before {
    content: '\e125'; /* '' */
  }

  &.upload:before {
    content: '\e126'; /* '' */
  }

  &.user-add-outline:before {
    content: '\e127'; /* '' */
  }

  &.user-add:before {
    content: '\e128'; /* '' */
  }

  &.user-delete-outline:before {
    content: '\e129'; /* '' */
  }

  &.user-delete:before {
    content: '\e12a'; /* '' */
  }

  &.user-outline:before {
    content: '\e12b'; /* '' */
  }

  &.user:before {
    content: '\e12c'; /* '' */
  }

  &.vendor-android:before {
    content: '\e12d'; /* '' */
  }

  &.vendor-apple:before {
    content: '\e12e'; /* '' */
  }

  &.vendor-microsoft:before {
    content: '\e12f'; /* '' */
  }

  &.video-outline:before {
    content: '\e130'; /* '' */
  }

  &.video:before {
    content: '\e131'; /* '' */
  }

  &.volume-down:before {
    content: '\e132'; /* '' */
  }

  &.volume-mute:before {
    content: '\e133'; /* '' */
  }

  &.volume-up:before {
    content: '\e134'; /* '' */
  }

  &.volume:before {
    content: '\e135'; /* '' */
  }

  &.warning-outline:before {
    content: '\e136'; /* '' */
  }

  &.warning:before {
    content: '\e137'; /* '' */
  }

  &.watch:before {
    content: '\e138'; /* '' */
  }

  &.waves-outline:before {
    content: '\e139'; /* '' */
  }

  &.waves:before {
    content: '\e13a'; /* '' */
  }

  &.weather-cloudy:before {
    content: '\e13b'; /* '' */
  }

  &.weather-downpour:before {
    content: '\e13c'; /* '' */
  }

  &.weather-night:before {
    content: '\e13d'; /* '' */
  }

  &.weather-partly-sunny:before {
    content: '\e13e'; /* '' */
  }

  &.weather-shower:before {
    content: '\e13f'; /* '' */
  }

  &.weather-snow:before {
    content: '\e140'; /* '' */
  }

  &.weather-stormy:before {
    content: '\e141'; /* '' */
  }

  &.weather-sunny:before {
    content: '\e142'; /* '' */
  }

  &.weather-windy-cloudy:before {
    content: '\e143'; /* '' */
  }

  &.weather-windy:before {
    content: '\e144'; /* '' */
  }

  &.wi-fi-outline:before {
    content: '\e145'; /* '' */
  }

  &.wi-fi:before {
    content: '\e146'; /* '' */
  }

  &.wine:before {
    content: '\e147'; /* '' */
  }

  &.world-outline:before {
    content: '\e148'; /* '' */
  }

  &.world:before {
    content: '\e149'; /* '' */
  }

  &.zoom-in-outline:before {
    content: '\e14a'; /* '' */
  }

  &.zoom-in:before {
    content: '\e14b'; /* '' */
  }

  &.zoom-out-outline:before {
    content: '\e14c'; /* '' */
  }

  &.zoom-out:before {
    content: '\e14d'; /* '' */
  }

  &.zoom-outline:before {
    content: '\e14e'; /* '' */
  }

  &.zoom:before {
    content: '\e14f'; /* '' */
  }
}
