.docker/volumes/var/lib/mysql/*
!.docker/volumes/var/lib/mysql/.gitkeep
.docker/volumes/node_modules/*
!.docker/volumes/node_modules/.gitkeep
.docker/volumes/bundle/*
!.docker/volumes/bundle/.gitkeep
*.log
*.env
application/tmp/*
!application/tmp/*.keep
/client/node_modules/
