.docker/volumes/var/lib/mysql/*
!.docker/volumes/var/lib/mysql/.gitkeep
.docker/volumes/node_modules/*
!.docker/volumes/node_modules/.gitkeep
*.log
*.env
server/tmp/*
!server/tmp/*.keep
client/node_modules
client/www/*
!client/www/.gitkeep
