.volumes/var/lib/mysql/*
!.volumes/var/lib/mysql/.gitkeep
.volumes/var/log/nginx/*
!.volumes/var/log/nginx/.gitkeep
.volumes/var/log/mysql/*
!.volumes/var/log/mysql/.gitkeep
.volumes/node_modules/*
/node_modules/
!.volumes/node_modules/.gitkeep
*.bk
*.log
