{
  "presets": [
    ["env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 0.25%",
            "last 2 versions",
            "IE 11"
          ]
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
