@import 'variables';
@import 'mixins';

ul ul, ol ol, ul ol, ol ul, dl dd {
  margin-left: 1em;
}

li {
  list-style-position: inside;
}

dt {
  font-weight: bold;
}

dl.horizontal > dt {
  float: left;
  width: 25%;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dl.horizontal > dd {
  margin-left: 0;
  padding-left: 25%;
  border-bottom: $border-default;
}

dl.horizontal > dd:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}
