@import 'variables';
@import 'mixins';

/** Breadcrumb ============================================================ */
nav.breadcrumb {
  display: inline-block;
  vertical-align: middle;
}

nav.breadcrumb ol {
  margin: 0;
  padding: 0;
  display: table;
  border-collapse: collapse;
  color: $color-gray;
  vertical-align: bottom;
}

nav.breadcrumb ol > li {
  list-style: none;
  display: table-cell;
  vertical-align: bottom;
  line-height: 1;
}

nav.breadcrumb ol > li:first-of-type > a:before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f38f';
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  margin-right: 0;
  position: relative;
}

/*nav.breadcrumb ol > li:nth-of-type(2) > a:before{font-family:'WebHostingHub-Glyphs';content:'\f73e';display:inline-block;text-decoration:none;font-size:11px;margin-right:2px;position:relative;}*/
nav.breadcrumb ol > li:after {
  content: '/';
  display: inline-block;
  text-decoration: none;
  color: $color-silver;
  margin: 0 .2rem;
  position: relative;
}

nav.breadcrumb ol > li:last-of-type:after {
  content: '';
  margin: 0;
}

nav.breadcrumb ol > li > a {
  display: inline-block;
  color: $color-gray;
}

nav.breadcrumb ol > li > a:hover {
  color: $color-belize-hole;
}

/** Steps ================================================================= */
ul.steps {
  @include steps;
}
